html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Gaegu", cursive; /* this should be the rest of the output you got from Google fonts */
}
html {
  background-color: rgba(141, 166, 190, 0.671);
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: rgb(219, 247, 255);
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 1px 1px 3px rgba(76, 79, 233, 0.493);
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 26px;    
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: "Gaegu", cursive;
}